
/*********************************************************************************/
/* Body Style                                                                   */
/*********************************************************************************/
html, body
{
	height: 100%;
}
/*set up font size, color, background-color
font family and margin
*/
body
{
	margin: 0px;
	padding: 0px;
	background: #0C696E;
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}
/*set up font size and color*/
h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}
/*set up  margin
*/

p, ol, ul
{
	margin-top: 0;
}
/*set up  padding*/

ol, ul
{
	padding: 0;
	list-style: none;
}
/*set up  line height*/
p
{
	line-height: 180%;
}

/*set up  margin and width*/
.container
{
	margin: 0px auto;
	width: 1200px;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}


img.img-alignright {
    
    width:500px;
    height:200px;
}
/*set up the background picture of navigation*/
#menu ul{
    background:url('images1/navigationbar1.png');
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

		
ul.style2
{
	margin: 0;
	padding-top: 1em;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #E5E5E5;
	padding: 0.80em 0 0.80em 0;
	font-family: 0.80em;
}

ul.style2 li:before
{
	display: inline-block;
	padding: 4px;
	background: #0C696E;
}

ul.style2 a
{
	display: inline-block;
	margin-left: 1em;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;

}

ul.style2 .icon
{
	color: #FFF;
    width:30px;
    height:30px;
}






/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
	margin-bottom: 3em;

}

.title h2
{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	

#header
{
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

/*set the size of logo*/
#logo h1 a img
{
	height:60px; 
    width:300px;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
/*this is for the navigation bar style*/
#menu
{
	position: absolute;
	right: 0;
	top: 3.2em;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a
{
	display: inline-block;
	margin-left: 0.50em;
	padding: 0em 1.5em 0em 0.50em;
	letter-spacing: 0.20em;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}
/*when a mouse hover a link, the color changes*/
#menu li:hover a
{
    color:gold;
}

#menu li:active a
{
    color:black;
}
/*set up the background image*/
#menu .current_page_item a
{
	background:url('images1/box1.png') repeat-y;
}


.sbox1 h2{
    background:#0C696E;
}
.sbox1 ul{
    background:#6c6c6c;
}



/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#wrapper
{
	background: #FFF;
}

#page
{
	overflow: hidden;
	padding: 6em 0em;
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
{
	float: left;
	width: 700px;
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
{
	float: right;
	width: 450px;
}

#stwo-col
{
	margin-top: 2em;
}

#stwo-col h2
{
	display: block;
	padding-bottom: 1.5em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	color: #454445;
}

#stwo-col .sbox1
{
	float: left;
	width: 210px;
}

#stwo-col .sbox2
{
	float: right;
	width: 210px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
	overflow: hidden;
	padding: 5em 0em;
}

#copyright p
{
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: #ACCFFF;
}

#copyright a
{
	text-decoration: none;
	color: #ACCFFF;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
/*set up  size,  
 and location
*/

#feature1
{
	width:150px;
	height:100px;	
	float:right;
}
/*set up  size,  
 and location
*/

#feature2
{
	width:150px;
	height:100px;	
	float:right;
}
/*set up  size,  
 and location
*/

	
#feature3
{
	width:150px;
	height:100px;	
	float:right;
}
/*set up  border,  
 and location
*/

#feature4
{
	border:thick;
	float:right;
	
}
#feature5
{
	 width:600px;
	 height:375px;
	
}
#feature7
{
	width:700px;
	text-align:right;
}
#feature8
{
	width:700px;
	text-align:center;
}

			


